@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
@font-face {
  font-family: "Campton-black";
  src: url("../fonts/CamptonBlack.eot");
  src: url("../fonts/CamptonBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/CamptonBlack.woff2") format("woff2"), url("../fonts/CamptonBlack.woff") format("woff"), url("../fonts/CamptonBlack.ttf") format("truetype"), url("../fonts/CamptonBlack.svg#Campton") format("svg");
}
/*=====================================================================
==========================   all-mixing-scss  =========================
========================================================================*/
/* output CSS
.icon-save {
  color: green;
}
.icon-cancel {
  color: gray;
}
.icon-delete {
  color: red;
} */
/*=====================================================================
==========================   main-css-all-pages  =========================
========================================================================*/
body {
  float: left;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #666666;
  font-size: 12px;
  background-color: #fff;
}
@media (max-width: 768px) {
    .container{
        max-width: none;
    }
}
/*=====================================================================
==========================   font-face  =========================
========================================================================*/
a, a:hover, a:active, a:focus, a:link, a:visited {
  text-decoration: none;
  /* transition: 0.5s; */
  /* -webkit-transition: 0.5s; */
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a, p, h1, h2, h3, h4, h5, h6, li, ul {
  margin: 0;
  padding: 0;
}

.vertical-block {
  float: left;
  width: 100%;
  position: relative;
  display: table;
  height: 100%;
}
.vertical-block .cell {
  display: table-cell;
  vertical-align: middle;
}

button, .btn, .form-control, input {
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -ms-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  box-shadow: none;
  -webkit-box-shadow: none;
  -ms-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
}
button:focus, button:active, button:visited, .btn:focus, .btn:active, .btn:visited, .form-control:focus, .form-control:active, .form-control:visited, input:focus, input:active, input:visited {
  outline: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -ms-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -ms-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
}

#scroll {
  position: fixed;
  right: 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: #a61415;
  text-indent: -9999px;
  display: none;
  border-radius: 60px;
  -webkit-border-radius: 60px;
  -ms-border-radius: 60px;
  -moz-border-radius: 60px;
  -o-border-radius: 60px;
  bottom: 60px;
  z-index: 9999;
}
#scroll span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  margin-top: -12px;
  height: 0;
  width: 0;
  border: 8px solid transparent;
  border-bottom-color: #fff;
}
#scroll:hover {
  background-color: #2b2a29;
  opacity: 1;
  filter: "alpha(opacity=100)";
  -ms-filter: "alpha(opacity=100)";
}

/*========================================================================================================
================================ Header Scss ===================================================================
===========================================================================================================*/
header {
  float: left;
  width: 100%;
  position: relative;
  background: #fff;
}

.top-head {
  background-color: #333333;
  height: 40px;
}

.toplinks-wrapper {
  float: right;
}
.toplinks-wrapper ul li {
  float: left;
  position: relative;
  margin-left: 7px;
}
.toplinks-wrapper ul li:before {
  content: "";
  display: block;
  width: 1px;
  height: 20px;
  background-color: #5c5c5c;
  position: absolute;
  right: 0px;
  top: 50%;
  margin-top: -10px;
}

.toplinks-wrapper ul li:last-child:before {
    content: none;
}
.toplinks-wrapper ul li a {
  white-space: nowrap;
  display: block;
  line-height: 40px;
  height: 40px;
  overflow: hidden;
  text-indent: 30px;
  padding-right: 20px;
  color: #fff;
}

.toplinks-wrapper ul li a:hover {
    color: #dd0008;
}
.toplinks-wrapper ul li a i.fa {
  display: inline-block;
  font: 13px / 1 FontAwesome;
  font-kerning: auto;
  font-feature-settings: normal;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  position: absolute;
  left: -18px;
  top: 14px;
}

/*========================================================================================================
================================ Navbar-CSS ===================================================================
===========================================================================================================*/

.start-header {
	opacity: 1;
	transform: translateY(0);
	padding: 26px 0;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
	background-color: #fff;
}

.bg-light.start-header {
    background: #fff!important;
}
.start-header.scroll-on {
	box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
	padding: 10px 0;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.start-header.scroll-on .navbar-brand img{
	height: 24px;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}

.navbar{
	padding: 0;
}
.navbar-brand img{
	height: 28px;
	width: auto;
	display: block;
  filter: brightness(10%);
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navbar-toggler {
	float: right;
	border: none;
	padding-right: 0;
}
.navbar-toggler:active,
.navbar-toggler:focus {
	outline: none;
}
.navbar-light .navbar-toggler-icon {
	width: 24px;
	height: 17px;
	background-image: none;
	position: relative;
	border-bottom: 1px solid #000;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after, 
.navbar-light .navbar-toggler-icon:before{
	width: 24px;
	position: absolute;
	height: 1px;
	background-color: #000;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after{
	top: 8px;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}
.nav-link{
	color: #212121;
	font-weight: 500;
	/* transition: all 200ms linear; */
}
.nav-item:hover .nav-link{
    padding: 0;
}
.nav-item.active .nav-link{
	color: #777 !important;
}
.nav-link {
	position: relative;
	display: inline-block;
	padding: 0!important;
}
.nav-item:after{
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 100%;
	height: 2px;
	content: '';
	background-color: #8167a9;
	opacity: 0;
	transition: all 200ms linear;
	content: none;
}
.nav-item:hover:after{
	bottom: 0;
	opacity: 1;
}
.nav-item.active:hover:after{
	opacity: 0;
}
.nav-item{
	position: relative;
    transition: all 200ms linear;
}

.header-middle{}
.header-middle .logo-sec{}

.header-middle .logo-sec a {
    display: block;
    padding: 10px 0;
}
.header-middle .logo-sec img{}
.header-middle .navigation-wrap{}
.header-middle .navigation-wrap .navbar{}
.header-middle .navigation-wrap .navbar .navbar-toggler{}
.header-middle .navigation-wrap .navbar .navbar-toggler .navbar-toggler-icon{}
.header-middle .navigation-wrap .navbar .navbar-collapse{}
.header-middle .navigation-wrap .navbar .navbar-collapse .navbar-nav{}
.header-middle .navigation-wrap .navbar .navbar-collapse .navbar-nav li{
    margin: 0 15px;
}

.header-middle .navigation-wrap .navbar .navbar-collapse .navbar-nav li:first-child {
    margin-left: 0;
}

.header-middle .navigation-wrap .navbar .navbar-collapse .navbar-nav li:last-child {
    margin-right: 0;
}
.header-middle .navigation-wrap .navbar .navbar-collapse .navbar-nav li a{
    font-size: 14px;
    color: #444444;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0;
}

.header-middle .navigation-wrap .navbar .navbar-collapse .navbar-nav li a:hover {
    color: #b02d2e;
}
.header-middle .navigation-wrap .navbar .navbar-collapse .navbar-nav li .icon_items{
    position: absolute;
    top: -17px;
    left: 68px;
}
.header-middle .navigation-wrap .navbar .navbar-collapse .navbar-nav li .icon_items img{}
.search-cart{}
.two-section {
    display: flex;
    align-items: center;
}
.two-section .search{
    position: relative;
}
.two-section .search form{
    position: relative;
}

.two-section .search form:hover input {
    width: 245px;
    right: 0;
}
.two-section .search form input{
    height: 35px;
    font-size: 100%;
    border: 1px solid #adadad;
    line-height: 1.66;
    background-color: #fff;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    width: 0;
    height: 42px;
    padding: 0 25px 0 15px;
    border-radius: 21px;
    -webkit-border-radius: 21px;
    position: absolute;
    transition: .5s;
    right: 0;
}
.two-section .search form .btn-search{
    position: relative;
    background-color: #ebebed;
    width: 42px;
    height: 42px;
    text-align: center;
    line-height: 42px;
    opacity: 1;
    padding: 0 !important;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    border: none;
    right: 0;
    top: 0;
    cursor: pointer;
}
.two-section .cart{
    margin-left: 15px;
}

.two-section .cart a {
    display: block;
}

.two-section .cart .media {
    vertical-align: middle;
    align-items: center;
}

.two-section .cart .media-left {
    padding-right: 10px;
}
.two-section .cart i.fa{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    text-align: center;
    font-size: 16px;
    line-height: 42px;
    display: inline-block;
    background-color: #b02d2e;
    color: #fff;
}
.two-section .cart h3{
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
    line-height: 1.5;
}
.two-section .cart h3 span{
    display: block;
    text-transform: none;
    color: #b02d2e;
}

/*========================================================================================================
================================ all-Section ===================================================================
===========================================================================================================*/
section {
  float: left;
  width: 100%;
  position: relative;
}

.best-sellers {
    margin-bottom: 70px;
}

.title-text{
    text-align: center;
    border-bottom: 1px solid #eee;
    margin-bottom: 30px;
    padding-bottom: 20px;
    text-align: center;
}
.title-text h3{
    color: #333;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}
.title-text .line{}

/*========================================================================================================
================================ Slider-SECTION ===================================================================
===========================================================================================================*/
.slider-tabs{
    margin-bottom: 85px;
}
.container-slide{}
.tab-content {
    margin-bottom: 10px;
}
.container-slide .tab-content .tab-pane{}
.container-slide .tab-content .tab-pane img{}
.container-slide .nav-tabs{
    margin-left: -7px;
    margin-right: -7px;
    display: flex;
    border: none;
}
.container-slide .nav-tabs .nav-item{
    padding: 0 7.5px;
    width: 16.66666%;
    float: left;
}
.container-slide .nav-tabs .nav-item a{
    border: none;
    display: block;
    position: relative;
    padding: 0!important;
    background-color: #ffffff;
    -webkit-box-shadow: 0 7px 6px -6px #e2e2e2;
    -moz-box-shadow: 0 7px 6px -6px #e2e2e2;
    box-shadow: 0 7px 6px -6px #e2e2e2;
}

.container-slide .nav-tabs .nav-item a:after {content: '';position: absolute;top: 0;left: 0;bottom: 0;right: 0;background: rgb(255 255 255 / 40%);}

.container-slide .nav-tabs .nav-item a:hover span {
    background: #b02d2e;
    color: #fff;
}

.container-slide .nav-tabs .nav-item a:hover:after {
    background: none;
}
.container-slide .nav-tabs .nav-item a img{
    height: 100%;
}
.container-slide .nav-tabs .nav-item a span{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
    background-color: #fff;
    color: #333;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 8px 30px;
    display: inline-block;
    white-space: nowrap;
    z-index: 9;
}

/*========================================================================================================
================================ NEW ARRIVALS ===================================================================
===========================================================================================================*/
.new-arrivals {
    margin-bottom: 70px;
}
.new-arrivals .nav-tabs{
    border: none;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.new-arrivals .nav-tabs li{
    margin: 0 2px;
}
.new-arrivals .nav-tabs li a{
    background: transparent;
    border: none;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px 28px!important;
    display: block;
    border-radius: 4px;
}

.new-arrivals .nav-tabs li a:hover {
    background: #333;
    color: #fff;
}

.new-arrivals .nav-tabs li a.active {
    background: #333;
    color: #fff;
}
.new-arrivals .tab-content{}
.arrival-carousel{}
.arrival-carousel .owl-nav {}
.arrival-carousel .owl-nav .owl-prev, .arrival-carousel .owl-nav .owl-next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background: #fff;
    color: rgb(51, 51, 51);
    border: 1px solid rgb(229, 229, 229);
}

.arrival-carousel .owl-nav .owl-prev:hover, .arrival-carousel .owl-nav .owl-next:hover {
    background: #a61415;
    border-color: #a61415;
    color: #fff;
}
.arrival-carousel .owl-nav .owl-prev i, .arrival-carousel .owl-nav .owl-next i{
    font-size: 22px;
}
.arrival-carousel .owl-nav .owl-prev{
    left: -60px;
}
.arrival-carousel .owl-nav .owl-next{
    right: -60px;
}
.product-item{}

.product-item:hover {}

.product-item:hover .actions-secondary {
    display: block;
}
.product-item .img-style{
    position: relative;
    height: 270px;
    overflow: hidden;
}

.product-item .product-dtl {
    padding: 8px 20px 30px;
    text-align: center;
    position: relative;
}
.product-item .img-style img{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%,-50%);
}
.sale-new{
    z-index: 9;
}
.sale-new ul{}
.sale-new ul li{
    position: absolute;
    top: 14px;
    text-transform: uppercase;
    color: #fff;
    z-index: 20;
    width: 38px;
    height: 38px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.sale-new ul li.new {
    right: 14px;
    background-color: #00b46a;
}

.sale-new ul li.sale {
    left: 14px;
    background-color: #a61415;
}
.sale-new ul li a{
    color: #fff;
    display: block;
}
.actions-secondary{
    position: absolute;
    right: 15px;
    bottom: 10px;
    display: none;
}
.actions-secondary ul{}
.actions-secondary ul li{}

.actions-secondary ul li.wishlist {}

.actions-secondary ul li.compare {}
.actions-secondary ul li.view {}
.actions-secondary ul li a{
    display: block;
    height: 35px;
    width: 35px;
    text-align: center;
    border: 1px solid #ddd;
    background-color: #fff;
    line-height: 33px;
    color: #333;
    margin-bottom: 10px;
    transition: 0.2s;
    -moz-transition: 0.2s;
    -webkit-transition: 0.2s;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font-size: 12px;
}

.actions-secondary ul li a:hover {
    background: #a61415;
    color: #fff;
    border-color: #a61415;
}
.actions-secondary ul li a i.fa{}
.product-item .title a{
    font-size: 14px;
    color: #444444;
}

.product-item .title {
    margin-bottom: 8px;
}

.product-item:hover .title a {
    color: #a61415;
}

.product-item .title a:hover {
    color: #a61415;
}
.rate-star{
    margin-bottom: 5px;
}
.rate-star li{
    display: inline-block;
    margin: 0 2px;
}

.rate-star li.active a {
    color: #ffb400;
}
.rate-star li a{
    color: #ddd;
    font-size: 12px;
}
.rate-star li a i{}
.price{
    margin-bottom: 18px;
}
.price p{
    font-size: 16px;
    color: #a61415;
}
.price p span{
    font-size: 12px;
    color: #999;
    text-decoration: line-through;
}
.addtocart{
    float: left;
    width: 100%;
    position: relative;
    display: block;
}
.addtocart a{
    font-size: 12px;
    text-transform: uppercase;
    border: 1px solid #ddd;
    background: none;
    color: #666;
    font-weight: 700;
    padding: 8px 12px;
    transition: 0.2s;
    -moz-transition: 0.2s;
    -webkit-transition: 0.2s;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    position: relative;
}

.product-item:hover .addtocart a {
    background: #a61415;
    color: #fff;
    border-color: #a61415;
}

.product-item:hover .addtocart a:before {
	background-position: -67px -272px;
}
.addtocart a:before{
	content: '';
    display: inline-block;
    width: 17px;
    height: 15px;
    background: url(../img/icon-image.png) no-repeat -20px -272px;
    position: relative;
    top: 2px;
    margin-right: 3px;
    transition: 0.2s;
    -moz-transition: 0.2s;
    -webkit-transition: 0.2s;
}
.addtocart a span{}
/*========================================================================================================
================================ DEAL OF THE DAY ===================================================================
===========================================================================================================*/
.deal-of-day{
    padding: 70px 0px 80px;
    margin-bottom: 70px;
}

.deal-of-day .title-text {
    border-bottom: 0;
}

.bg-gray {
    background: rgb(245, 245, 245);
}
.deal-section{
    background-color: rgb(255, 255, 255);
    padding: 30px 30px 20px;
    border: 1px solid rgb(229, 229, 229);
}

.deal-section .owl-dots {
    text-align: center;
    width: 100%;
    padding-top: 20px;
    position: relative;
    border-top: 1px solid #eee;
}

.deal-section .owl-dots .owl-dot {width: 10px;height: 10px;background: #eee;border-radius: 100%;display: inline-block;margin: 0 5px;border: #eee;}

.deal-section .owl-dots .owl-dot.active {
    background: #a61415;
}
.deal-section .item{
    margin-bottom: 30px;
}
.deal-section .item .img-style{
    position: relative;
    overflow: hidden;
    height: 258px;
    width: 258px;
    background: #eee;
    transition: .5s;
}

.quick-view a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9;
    background: #a61415;
    width: 36px;
    height: 36px;
    color: #fff;
    display: none;
    justify-content: center;
    align-items: center;
}

.quick-view a:hover {background: #f35e5f;}

.deal-section .item .img-style:hover:after {content: '';position: absolute;top: 0;left: 0;bottom: 0;right: 0;background: rgb(255 255 255 / 30%);z-index: 1;}

.deal-section .item .img-style:hover .quick-view a {
    display: flex;
}

.deal-section .media-left {
    margin-right: 24px;
}
.deal-section .item .img-style img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.sale-count{
    margin-bottom: 12px;
    padding: 7px 15px;
    color: #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #a61415;
    font-size: 18px;
}
.sale-count i{
    font-size: 21px;
    margin-right: 5px;
}
.sale-count span{
    margin-right: 5px;
}
.sale-count span.days{
    font-size: 12px;
}
.sale-count span.hr{}
.sale-count span.min{}
.sale-count span.sec{}
.deal-section h3{}
.deal-section p{
    margin-bottom: 18px;
}
.inline-sec{
    display: flex;
}
.inline-sec .addtocart{
    width: auto;
    margin-right: 5px;
    position: relative;
    top: 7px;
}
.inline-sec .addtocart a{}
.inline-sec .addtocart a span{}
.inline-sec .wishlist{
}

.inline-sec .wishlist, .inline-sec .compare {
}

.inline-sec .wishlist a, .inline-sec .compare a {
    color: #333;
    display: block;
    width: 100%;
    text-align: center;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 3px;
}

.inline-sec .wishlist a:hover, .inline-sec .compare a:hover {
    background: #a61415;
    border-color: #a61415;
    color: #fff;
}
.inline-sec .wishlist a{}
.inline-sec .wishlist a i{}
.inline-sec .compare{
}
.inline-sec .compare a{}
.inline-sec .compare a i{}
/*========================================================================================================
================================ BEST SELLERS ===================================================================
===========================================================================================================*/
.best-sellers{}

/*========================================================================================================
================================ ADDITIONAL-SECTION ===================================================================
===========================================================================================================*/
.addition-sec{}

.addition-sec .col-md-3 {
    padding: 0 5px;
    margin-bottom: 30px;
}

@media (max-width: 767px) {
    .addition-sec .col-md-3 {
        padding: 0 15px;
    }  
}
.b-box{
    background-color: #f5f5f5;
    border: 1px solid #f5f5f5;
    padding: 34px 20px;
    text-align: center;
}

.b-box:hover {
    border-color: #e5e5e5;
    background-color: #fff;
}
.b-box img{}
.b-box h3{
    text-transform: uppercase;
    font-size: 14px;
    color: #333;
    font-weight: 700;
    padding-top: 7px;
    margin-bottom: 1px;
}
.b-box p{
    color: #777777;
    font-size: 12.5px;
}
/*========================================================================================================
================================ Footer-SECTION ===================================================================
===========================================================================================================*/
footer{
    float: left;
    width: 100%;
    position: relative;
}
.footer-top{
    background-color: #f5f5f5;
}
.footer-menu{
    padding: 70px 30px 60px;
}
@media (max-width: 767px) {
    .footer-menu{
        padding: 30px;
    }
}

.footer-menu.con_us {
    background-color: #f9f9f9;
}
.footer-menu h3{
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 10px;
    color: #444;
    margin-bottom: 15px;
}

.footer-menu h3:before {
    content: '';
    display: block;
    width: 40px;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #a61415;
}
.footer-menu ul{}
.footer-menu ul li{}
.footer-menu ul li a{
    display: inline-block;
    padding: 5px 0;
    font-size: 108.33%;
    color: #666666;
}

.footer-menu.con_us ul li a {
    display: flex;
    align-items: center;
}

.footer-menu.con_us ul li {
    margin-bottom: 5px;
}

.footer-menu.con_us ul li a:hover {
    color: #666;
}

.footer-menu.con_us ul li a:hover i.fa {
    color: #ffffff;
    background: #a61415;
}

.footer-menu ul li a:hover {
    color: #a61415;
}
.footer-menu ul li a i{
}

.footer-menu.con_us ul li a i {
    width: 30px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #969696;
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
    border-radius: 4px;
}
.footer-middle{
    background-color: #333;
}

.footer-middle .row {
    align-items: center;
}
.socail-footer{
    padding: 32px 30px;
    background-color: #444;
}

@media (max-width: 768px) {
    .socail-footer{
        margin-left: -15px;
        margin-right: -15px;
        padding: 30px;
        margin-bottom: 15px;
    }
}
.socail-footer ul{}
@media (max-width: 768px) {
    .socail-footer ul{
        text-align: center;
    }
}
.socail-footer ul li{
    display: inline-block;
    margin: 3.5px;
}

.socail-footer ul li:first-child {
    margin-left: 0;
}

.socail-footer ul li:last-child {
    margin-right: 0;
}
.socail-footer ul li a{
    font-size: 18px;
    width: 40px;
    height: 40px;
    display: inline-flex;
    background: #ccc;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    color: #555555;
}

.socail-footer ul li a:hover {
    color: #fff;
    background: #a61415;
}
.socail-footer ul li a i{}

.newsletter{
    display: flex;
}
@media (max-width: 768px) {
    .newsletter{
        display: block;
    }
}

.newsletter .media{}

@media (max-width: 768px) {
    .newsletter .media{
        margin-bottom: 15px;
    }
}

.newsletter .media .media-left {
    width: 52px;
}

.newsletter .media .media-left img {}
.newsletter .media .media-letft{}
.newsletter .media .media-letft img{}
.newsletter .media .media-body{
    display: table-cell;
    vertical-align: top;
    white-space: nowrap;
    text-transform: uppercase;
    color: #fff;
    padding: 0 50px 0 18px;
    line-height: 1.1;
    position: relative;
}
.newsletter .media .media-body p{
    font-size: 15px;
    display: block;
}
.newsletter .media .media-body h3{
    font-size: 24px;
    font-weight: bold;
}
.newsletter .input-btn{
    width: 100%;
    position: relative;
    height: 40px;
    display: flex;
}
@media (max-width: 768px) {
    .newsletter .input-btn{
        margin-bottom: 15px;
    }
}
.newsletter .input-btn input{
    border-radius: 4px;
    height: 40px;
    margin-right: 5px;
    font-size: 12px;
}

.newsletter .input-btn input:focus {
    outline: none;
}
.newsletter .input-btn button{
    background: #a61415;
    border: none;
    color: #fff;
    border-radius: 4px;
    height: 100%;
    padding: 6px 25px;
    font-size: 12px;
}

.newsletter .input-btn button:hover {
    background: #f00;
}

.footer-bottom{
    background-color: #f5f5f5;
    padding: 30px 0;
    color: #555555;
}

.footer-bottom .row {
    align-items: center;
}
.copyright{}
@media (max-width: 768px) {
    .copyright{
        text-align: center;
        margin-bottom: 15px;
    }
}
.copyright p{
    font-size: 12px;
    color: #555555;
}

.copyright p a {
    color: #a61415;
}
.card-sec{
    float: right;
}
@media (max-width: 768px) {
    .card-sec{
        float: none;
        text-align: center;
    }
}
.card-sec img{}

/*========================================================================================================
================================cart-popup ===================================================================
===========================================================================================================*/
.shoping-cart{
    position: absolute;
    z-index: 9;
    width: 320px;
    background: #fff;
    right: 15%;
    top: 130px;
    -webkit-box-shadow: 0 0 10px 0 rgb(19 46 85 / 30%);
    -moz-box-shadow: 0 0 10px 0 rgba(19, 46, 85, 0.3);
    box-shadow: 0 0 10px 0 rgb(19 46 85 / 30%);
    margin-bottom: 30px;
    display: none; 
}
.shoping-cart.hide {
    display: none;
}
.shoping-cart.show {
    display: block;
}
.shoping-cart .header-top{
    background: #a61415;
    padding: 15px;
}
.shoping-cart .header-top h3{
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
}
.shoping-cart .header-top h3 span{float: right;}
.shoping-cart .media{
    padding: 15px 15px;
}
.shoping-cart .media .media-left{
    position: relative;
}

.shoping-cart .media .media-left .img-style {
    position: relative;
    height: 80px;
    width: 80px;
    overflow: hidden;
}
.shoping-cart .media .media-left .img-style img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: auto;
}
.shoping-cart .media .media-left img{}
.shoping-cart .media .media-left .close{
    position: absolute;
    font-size: 16px;
    right: -5px;
    bottom: -5px;
}

.shoping-cart .media .media-left .close:hover {
    color: #a61415;
    opacity: 1;
}
.shoping-cart .media .media-left .close i.fa{}
.shoping-cart .media .media-body{
    padding-left: 15px;
}
.shoping-cart .media .media-body a.h3{
    font-size: 14px;
    margin-bottom: 15px;
    display: block;
}

.shoping-cart .media .media-body a.h3:hover {
    color: #a61415;
}
.shoping-cart .media .media-body .qty-update{
    display: flex;
    align-items: center;
}
.shoping-cart .media .media-body .qty-update label{
    font-size: 12px;
    margin-bottom: 0;
}
.shoping-cart .media .media-body .qty-update input{
    width: 40px;
    padding: 4px 4px;
    border: 1px solid #ccc;
    margin: 0 8px;
    padding-right: 0;
}
.shoping-cart .media .media-body .qty-update .btn-update{
    background: #343434;
    color: #fff;
    border: 1px solid #333333;
    text-transform: uppercase;
    font-size: 12px;
    padding: 4px;
    cursor: pointer;
}

.shoping-cart .media .media-body .qty-update .btn-update:hover {background: #a61415;border-color: #a61415;}
.shoping-cart .media .media-body .price{
    float: right;
    color: #a61415;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 3px;
}
.shoping-cart .cart-subtotal{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 15px;
}
.shoping-cart .cart-subtotal h3{
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
}
.shoping-cart .cart-subtotal h3 span{
    float: right;
    color: #a61415;
    font-size: 16px;
}
.shoping-cart .footer-bottom{
    background: #fff;
    padding: 15px;
}
.shoping-cart .footer-bottom ul{
    display: flex;
    align-items: center;
}
.shoping-cart .footer-bottom ul li{}
.shoping-cart .footer-bottom ul li a{
    cursor: pointer;
    display: inline-block;
    height: 38px;
    padding: 0 20px;
    text-transform: uppercase;
    background-color: #333333;
    font-size: 116.67%;
    color: #fff;
    font-weight: 700;
    margin-right: 10px;
    line-height: 38px;
}

.shoping-cart .footer-bottom ul li a:hover {
    background: #a61415;
}


/*========================================================================================================
================================ Quick view modal ===================================================================
===========================================================================================================*/

.quick-view-modal {}
.quick-view-modal .modal-dialog{
    max-width: 1024px;
}

@media (max-width: 1199px) {
    .quick-view-modal .modal-dialog{
        max-width: calc(100% - 30px);
    } 
}

.quick-view-modal .modal-content{
    border-radius: 0;
}
.quick-view-modal .modal-header{
    border: none;
}
.quick-view-modal .modal-header button{}
.quick-view-modal .modal-body{
    margin-bottom: 30px;
}
.quick-view-modal .modal-body .media{}
@media (max-width: 991px) {
    .quick-view-modal .modal-body .media{
        display: block;
    }
}
.quick-view-modal .modal-body .media-left{
    width: 470px;
    height: 470px;
    border: 1px solid #ccc;
}
@media (max-width: 991px) {
    .quick-view-modal .modal-body .media-left{
        margin: 0 auto 30px;
        height: auto;
        width: 100%;
        border: none;
    }
}
.quick-view-modal .modal-body .media-left .img-style{
    width: 470px;
    height: 470px;
    position: relative;
}
@media (max-width: 991px) {
    .quick-view-modal .modal-body .media-left .img-style{
        width: 100%;
        height: auto;
        border: 1px solid #ccc;
    }
}
.quick-view-modal .modal-body .media-left .img-style img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}
@media (max-width: 991px) {
    .quick-view-modal .modal-body .media-left .img-style img{
        position: static;
        transform: none;
        width: auto;
        height: auto;
        margin: 0 auto;
    }
}
.quick-view-modal .modal-body .media-body{
    padding-left: 30px;
}
.quick-view-modal .modal-body .media-body h3{
    text-transform: none;
    font-weight: 700;
    font-size: 20px;
    color: #444;
    margin-bottom: 15px;
}
.quick-view-modal .modal-body .media-body .rate-star{
    margin-bottom: 15px;
}
.quick-view-modal .modal-body .media-body .rate-star li{}
.quick-view-modal .modal-body .media-body .rate-star li a{}
.quick-view-modal .modal-body .media-body .rate-star li a i{}
.quick-view-modal .modal-body .media-body .stock{}
.quick-view-modal .modal-body .media-body .stock p{
    color: #00b46a;
}
.quick-view-modal .modal-body .media-body .stock p img{}
.quick-view-modal .modal-body .media-body .price{}
.quick-view-modal .modal-body .media-body .price p{
    font-size: 20px;
}
.quick-view-modal .modal-body .media-body .price p span{
    font-size: 15px;
}
.quick-view-modal .modal-body .media-body .qtn-update{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.quick-view-modal .modal-body .media-body .qtn-update .qtn-addtocart{
    display: flex;
    align-items: center;
}
.quick-view-modal .modal-body .media-body .qtn-update .qtn-addtocart .bg-gray{
    display: flex;
    align-items: center;
    padding: 6px 10px;
}
.quick-view-modal .modal-body .media-body .qtn-update .qtn-addtocart label{
    margin-bottom: 0;
    margin-right: 10px;
}
.quick-view-modal .modal-body .media-body .qtn-update .qtn-addtocart input{
    width: 40px;
    border: 1px solid #ccc;
    padding: 4px;
}
.quick-view-modal .modal-body .media-body .qtn-update .addtocart{
    position: relative;
    top: 1px;
}
.quick-view-modal .modal-body .media-body .qtn-update .addtocart a{
    border-radius: 0;
    background: #a61415;
    color: #fff;
    border-color: #a61415;
    padding: 11px 15px 10px;
}

.quick-view-modal .modal-body .media-body .qtn-update .addtocart a:hover {
    background: #444;
}

.quick-view-modal .modal-body .media-body .qtn-update .addtocart a:hover {
    background: #666;
    border-color: #666666;
}

.quick-view-modal .modal-body .media-body .qtn-update .addtocart a:before {
    content: none;
}
.quick-view-modal .modal-body .media-body .qtn-update .whishlist a, .quick-view-modal .modal-body .media-body .qtn-update .compare a{
    background: #fff;
    border: 1px solid #444;
    width: 40px;
    height: 40px;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #444;
}

.quick-view-modal .modal-body .media-body .qtn-update .whishlist a:hover, .quick-view-modal .modal-body .media-body .qtn-update .compare a:hover {
    background: #a61415;
    color: #fff;
    border-color: #a61415;
}
.quick-view-modal .modal-body .media-body .qtn-update .compare a{
   margin: 0;
}
.quick-view-modal .modal-body .media-body .description{
    font-size: 12px;
    line-height: 1.66;
}

.product-gallery{}

.product-gallery:hover .owl-nav {
    opacity: 1;
}
.product-gallery .owl-nav{
    opacity: 0;
}
.product-gallery .owl-nav .owl-prev, .product-gallery .owl-nav .owl-next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.product-gallery .owl-nav .owl-prev{
    left: 15px;
}
.product-gallery .owl-nav .owl-next{
    right: 15px;
}
.product-gallery .owl-dots{
    text-align: center;
}
.product-gallery .owl-dot{
    width: 10px;
    height: 10px;
    background: #ccc;
    display: inline-block;
    border-radius: 100%;
    margin: 10px 5px;
}
.product-gallery .owl-dot.active{
    background: #a61415;
}


/*========================================================================================================
================================ Login and signin ===================================================================
===========================================================================================================*/
.customer-login{
    padding: 50px 0;
}
.inner-title{}
.inner-title h3{
    font-size: 166.6%;
    color: #444;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 30px;
}

.inner-title h3:before {
    content: "";
    width: 70px;
    height: 3px;
    display: inline-block;
    position: absolute;
    bottom: -8px;
    left: 0;
    background: #a61415;
}
.form-user{
    padding: 30px;
    background-color: #fafafa;
    min-height: 440px;
    border: 1px solid #ddd;
    margin-bottom: 15px;
}
.customer-createAcc {
    padding: 70px 0;
}
.customer-createAcc .form-user {
    min-height: auto;
}

.form-user.forgot-link {
    min-height: auto;
}

@media (max-width: 767px) {
    .form-user{
        min-height: auto;
        margin-bottom: 30px;
    } 
}
.form-user h3{
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 15px;
    font-size: 16px;
    text-transform: uppercase;
    color: #444;
    font-weight: 400;
    display: block;
    padding-bottom: 5px;
    position: relative;
}

.form-user h3:before {
    content: '';
    display: inline-block;
    height: 1px;
    width: 100px;
    position: absolute;
    left: 0;
    bottom: -1px;
    background: #b02d2e;
}
.form-user p{
    font-size: 12px;
    margin-bottom: 20px;
}
.form-user form{}
.form-user form .form-group{}
.form-user form .form-group label{
    font-size: 12px;
}
.form-user form .form-group label span{
    color: #e74c3c;
    font-size: 16px;
}
.form-user form .form-group input{}
.form-user input.btn-submit{
    background: #333333;
    border: 1px solid #333333;
    padding: 6px 20px;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
}

.form-user form .form-group input.btn-submit:hover {
    background: #b02d2e;
    border-color: #b02d2e;
}
.form-user form .forgot-password{
    position: absolute;
    right: 47px;
    color: #444;
    font-size: 12px;
}

.form-user form .forgot-password:hover {
    color: #b02d2e;
    text-decoration: underline;
}
.form-user form .required-fields{
    color: #e74c3c;
    font-size: 15px;
    margin-bottom: 0;
    margin-top: 50px;
}
.form-user form .required-fields span{}
.create-acc{}

.create-acc a {
    font-size: 18px;
    display: inline-block;
    background: #333333;
    border: 1px solid #333333;
    padding: 6px 20px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

.create-acc a:hover {
    background: #b02d2e;
    border-color: #b02d2e;
}

.create-acc a:hover {}
.create-acc .btn-submit{}
a.go-back {
    color: #b02d2e;
    font-size: 15px;
    display: block;
    text-align: right;
}